#overlay{
  border:1px solid black;
  width:350px;
  height:200px;
  display: none;
  position: absolute;
  margin-left: 200px;
  background-image:url('https://images.pexels.com/photos/187918/pexels-photo-187918.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat:no-repeat;
  
}

#imgZoom {cursor: pointer;}